.container {
  padding-left: 75px;
}

.messages-container {
  scroll-snap-type: y proximity;
  max-height: 100vh;
  overflow-y: scroll;
}

.message-section {
  scroll-snap-align: start;
  width: 100%;
  font-size: 1rem;
}